Source: treeland-protocols
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends: cmake (>= 3.4~),
               debhelper-compat (= 13),
Standards-Version: 4.6.0
Section: dde
Homepage: https://github.com/LingmoOS/treeland-protocols/
#Vcs-Browser: hhttps://github.com/LingmoOS/treeland-protocols/
#Vcs-Git: https://github.com/LingmoOS/treeland-protocols.git
Rules-Requires-Root: no

Package: treeland-protocols
Section: dde
Architecture: all
Depends: ${misc:Depends},
Description: wayland protocols of treeland.
